<!DOCTYPE html>
<html lang="zn-CN">

  <head>
  
    <meta charset="UTF-8">
    <title>input元素text类型和textarea元素</title>
    
  </head>

  <body>
  
    <div id="app">

      <!-- 在 <input> 元素中：
        当 type 为 text 时，使用 value 属性值和 input 事件，来作语法糖。-->
      <!-- 在 <textarea> 元素中：
        使用 value 属性值和 input 事件，来作语法糖。 -->
    
      <input type="text" v-model="message">
      <textarea v-model="message"></textarea>
	    {{message}}
    </div>

    <script src="../vue.js"></script>

    <script>
      const app = new Vue({
        el: '#app',
        data: {
          message: '你好'
        },
      })
    </script>
    
  </body>
    
</html>