<!DOCTYPE html>
<html lang="zn-CN">

  <head>
  
    <meta charset="UTF-8">
    <title>Title</title>
    <style>label {display: block;}</style>
    
  </head>

  <body>
  
    <div id="app">
          
      <!-- radio 单选框使用 checked property 和 change 事件。 -->
      <label for="male">
	      <input type="radio" id="male" name="sex" value="男" v-model="sex">男生
      </label>
	    <label for="female">
		    <input type="radio" id="female" name="sex" value="女" v-model="sex">女生
	    </label>
	    <h2>{{sex}}</h2>
    </div>

    <script src="../vue.js"></script>

    <script>
      const app = new Vue({
        el: '#app',
        data: {
          message: '你好啊',
	        sex: ''
        },
      })
    </script>
    
  </body>
    
</html>