<!DOCTYPE html>
<html lang="zn-CN">

  <head>
  
    <meta charset="UTF-8">
    <title>Title</title>
    <style>label {display: block;}</style>

  </head>
    
  <body>

    <div id="app">

      <!-- checkbox 复选框使用 checked property 和 change 事件。
					复选框分为两种情况：单个勾选框和多个勾选框。 -->

	    <!-- checkbox 单个勾选框：
					v-model 绑定为布尔值。此时 input 的 value 并不影响 v-model 的值。 -->
	    <h1>checkbox 单个勾选框：</h1>
      <label for="agree">
	      <input type="checkbox" id="agree" v-model="isAgree">同意我们的协议
      </label>
	    <h2>您选择是：{{isAgree}}</h2>
	    <button :disabled="!isAgree">下一步</button>
			
      <div>---------------------------------------------</div>
      <!-- checkbox 多个勾选框：
					v-model 绑定是一个数组。当选中某个时，就会将对应的 value 添加到数组。-->
	    <h1>checkbox 多个勾选框：</h1>
	    <label for="篮球">
		    <input type="checkbox" id="篮球" value="篮球" v-model="hobbies">打篮球
	    </label>
	    <label for="足球">
		    <input type="checkbox" id="足球" value="足球" v-model="hobbies">踢足球
	    </label>
	    <label for="排球">
		    <input type="checkbox" id="排球" value="排球" v-model="hobbies">拍排球
	    </label>
	    <label for="乒乓球">
		    <input type="checkbox" id="乒乓球" value="乒乓球" v-model="hobbies">打乒乓球
	    </label>
	    <label for="羽毛球">
		    <input type="checkbox" id="羽毛球" value="羽毛球" v-model="hobbies">打羽毛球
	    </label>
	    <h2>您爱好有：{{hobbies}}</h2>

	    <div>---------------------------------------------</div>
	    <!--值绑定-->
	    <h1>值绑定：</h1>
	    <label v-for="item in allFruits" :for="item">
		    <input type="checkbox" :value="item" :id="item" v-model="selectFruits">{{item}}
	    </label>
	    <h2>您选择是：{{selectFruits}}</h2>

    </div>

    <script src="../vue.js"></script>

    <script>
      const app = new Vue({
        el: '#app',
        data: {
	        isAgree: false,
	        hobbies: [],
	        selectFruits:[],
	        allFruits: ["榴莲","苹果","香蕉","西瓜","甜瓜","芒果"]
        }
      })
    </script>
    
  </body>
    
</html>